.guide-index,
.guide-layer {
	position: fixed;
	height: 0;
	left:  0;
	right: 0;
	width: auto;
	overflow: visible;
}

.guide-layer {
	pointer-events: none;

	-webkit-transition-property: height;
	   -moz-transition-property: height;
	    -ms-transition-property: height;
	     -o-transition-property: height;
	        transition-property: height;

	-webkit-transition-duration: 600ms;
	   -moz-transition-duration: 600ms;
	    -ms-transition-duration: 600ms;
	     -o-transition-duration: 600ms;
	        transition-duration: 600ms;

	-webkit-transition-timing-function: ease-out;
	   -moz-transition-timing-function: ease-out;
	    -ms-transition-timing-function: ease-out;
	     -o-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;
	
	z-index: 10;
}

.guide-layer.active {
	height: 100%;
}

.guide-index {
	top: 0.625rem;
	right: 0.625rem;
	text-align: right;
	z-index: 11;
}

.guide-index > li {
	display: inline-block;
}

.guide-line {
	position: absolute;
	height: 100%;
	border-left: 1px solid rgba(114,184,169,0.4);
	width: 0;
	top: 0;
	bottom: 0;
}

.guide-button {
	font-size: 0.625rem;
	line-height: 1.5rem;
	height: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-transform: uppercase;
	border-radius: 0.25rem;
	opacity: 0.4;
	color: #d8d8d8;
}

.guide-button:hover,
.guide-button.on {
	opacity: 1;
}

.guide-button:hover {
	color: white;
}

.guide-button.on {
	color: white;
	background-color: #64BCA9;
}

.guide-layer > .guide-line { left: -25px; }

.guide-6-20 > .guide-line:nth-child(1)  { left: calc(1.25rem); }
.guide-6-20 > .guide-line:nth-child(2)  { left: calc(16.6667% - 0.2083rem); }
.guide-6-20 > .guide-line:nth-child(3)  { left: calc(16.6667% + 1.0417rem); }
.guide-6-20 > .guide-line:nth-child(4)  { left: calc(33.3333% - 0.4167rem); }
.guide-6-20 > .guide-line:nth-child(5)  { left: calc(33.3333% + 0.8333rem); }
.guide-6-20 > .guide-line:nth-child(6)  { left: calc(50% - 0.625rem); }
.guide-6-20 > .guide-line:nth-child(7)  { left: calc(50% + 0.625rem); }
.guide-6-20 > .guide-line:nth-child(8)  { left: calc(66.6667% - 0.8333rem); }
.guide-6-20 > .guide-line:nth-child(9)  { left: calc(66.6667% + 0.4167rem); }
.guide-6-20 > .guide-line:nth-child(10) { left: calc(83.3333% - 1.0417rem); }
.guide-6-20 > .guide-line:nth-child(11) { left: calc(83.3333% + 0.2083rem); }
.guide-6-20 > .guide-line:nth-child(12) { left: calc(100% - 1.25rem); }

.guide-9 > .guide-line:nth-child(1)   { left: 11.1111%; }
.guide-9 > .guide-line:nth-child(2)   { left: 22.2222%; }
.guide-9 > .guide-line:nth-child(3)   { left: 33.3333%; }
.guide-9 > .guide-line:nth-child(4)   { left: 44.4444%; }
.guide-9 > .guide-line:nth-child(5)   { left: 55.5556%; }
.guide-9 > .guide-line:nth-child(6)   { left: 66.6667%; }
.guide-9 > .guide-line:nth-child(7)   { left: 77.7778%; }
.guide-9 > .guide-line:nth-child(8)   { left: 88.8889%; }

.guide-12 > .guide-line:nth-child(1)  { left: 8.3333%;  }
.guide-12 > .guide-line:nth-child(2)  { left: 16.6667%; }
.guide-12 > .guide-line:nth-child(3)  { left: 25%;      }
.guide-12 > .guide-line:nth-child(4)  { left: 33.3333%; }
.guide-12 > .guide-line:nth-child(5)  { left: 41.6667%; }
.guide-12 > .guide-line:nth-child(6)  { left: 50%; }
.guide-12 > .guide-line:nth-child(7)  { left: 58.3333%; }
.guide-12 > .guide-line:nth-child(8)  { left: 66.6667%; }
.guide-12 > .guide-line:nth-child(9)  { left: 75%;      }
.guide-12 > .guide-line:nth-child(10) { left: 83.3333%; }
.guide-12 > .guide-line:nth-child(11) { left: 91.6667%; }

.guide-15 > .guide-line:nth-child(1)  { left: 6.6667%;  }
.guide-15 > .guide-line:nth-child(2)  { left: 13.3333%; }
.guide-15 > .guide-line:nth-child(3)  { left: 20%;      }
.guide-15 > .guide-line:nth-child(4)  { left: 26.6667%; }
.guide-15 > .guide-line:nth-child(5)  { left: 33.3333%; }
.guide-15 > .guide-line:nth-child(6)  { left: 40%;      }
.guide-15 > .guide-line:nth-child(7)  { left: 46.6667%; }
.guide-15 > .guide-line:nth-child(8)  { left: 53.3333%; }
.guide-15 > .guide-line:nth-child(9)  { left: 60%;      }
.guide-15 > .guide-line:nth-child(10) { left: 66.6667%; }
.guide-15 > .guide-line:nth-child(11) { left: 73.3333%; }
.guide-15 > .guide-line:nth-child(12) { left: 80%;      }
.guide-15 > .guide-line:nth-child(13) { left: 86.6667%; }
.guide-15 > .guide-line:nth-child(14) { left: 93.3333%; }

.guide-16 > .guide-line:nth-child(1)  { left: 6.25%;  }
.guide-16 > .guide-line:nth-child(2)  { left: 12.5%;  }
.guide-16 > .guide-line:nth-child(3)  { left: 18.75%; }
.guide-16 > .guide-line:nth-child(4)  { left: 25%;    }
.guide-16 > .guide-line:nth-child(5)  { left: 31.25%; }
.guide-16 > .guide-line:nth-child(6)  { left: 37.5%;  }
.guide-16 > .guide-line:nth-child(7)  { left: 43.75%; }
.guide-16 > .guide-line:nth-child(8)  { left: 50%;    }
.guide-16 > .guide-line:nth-child(9)  { left: 56.25%; }
.guide-16 > .guide-line:nth-child(10) { left: 62.5%;  }
.guide-16 > .guide-line:nth-child(11) { left: 68.75%; }
.guide-16 > .guide-line:nth-child(12) { left: 75%;    }
.guide-16 > .guide-line:nth-child(13) { left: 81.25%; }
.guide-16 > .guide-line:nth-child(14) { left: 87.5%;  }
.guide-16 > .guide-line:nth-child(15) { left: 93.75%; }

.guide-18 > .guide-line:nth-child(1)  { left: 5.5556%;  }
.guide-18 > .guide-line:nth-child(2)  { left: 11.1111%; }
.guide-18 > .guide-line:nth-child(3)  { left: 16.6667%; }
.guide-18 > .guide-line:nth-child(4)  { left: 22.2222%; }
.guide-18 > .guide-line:nth-child(5)  { left: 27.7778%; }
.guide-18 > .guide-line:nth-child(6)  { left: 33.3333%; }
.guide-18 > .guide-line:nth-child(7)  { left: 38.8889%; }
.guide-18 > .guide-line:nth-child(8)  { left: 44.4444%; }
.guide-18 > .guide-line:nth-child(9)  { left: 50%;      }
.guide-18 > .guide-line:nth-child(10) { left: 55.5556%; }
.guide-18 > .guide-line:nth-child(11) { left: 61.1111%; }
.guide-18 > .guide-line:nth-child(12) { left: 66.6667%; }
.guide-18 > .guide-line:nth-child(13) { left: 72.2222%; }
.guide-18 > .guide-line:nth-child(14) { left: 77.7778%; }
.guide-18 > .guide-line:nth-child(15) { left: 83.3333%; }
.guide-18 > .guide-line:nth-child(16) { left: 88.8889%; }
.guide-18 > .guide-line:nth-child(17) { left: 94.4444%; }

.guide-19 > .guide-line:nth-child(1)  { left: 5.2632%;  }
.guide-19 > .guide-line:nth-child(2)  { left: 10.5263%; }
.guide-19 > .guide-line:nth-child(3)  { left: 15.7895%; }
.guide-19 > .guide-line:nth-child(4)  { left: 21.0526%; }
.guide-19 > .guide-line:nth-child(5)  { left: 26.3158%; }
.guide-19 > .guide-line:nth-child(6)  { left: 31.5789%; }
.guide-19 > .guide-line:nth-child(7)  { left: 36.8421%; }
.guide-19 > .guide-line:nth-child(8)  { left: 42.1053%; }
.guide-19 > .guide-line:nth-child(9)  { left: 47.3684%; }
.guide-19 > .guide-line:nth-child(10) { left: 52.6316%; }
.guide-19 > .guide-line:nth-child(11) { left: 57.8947%; }
.guide-19 > .guide-line:nth-child(12) { left: 63.1579%; }
.guide-19 > .guide-line:nth-child(13) { left: 68.4211%; }
.guide-19 > .guide-line:nth-child(14) { left: 73.6842%; }
.guide-19 > .guide-line:nth-child(15) { left: 78.9474%; }
.guide-19 > .guide-line:nth-child(16) { left: 84.2105%; }
.guide-19 > .guide-line:nth-child(17) { left: 89.4737%; }
.guide-19 > .guide-line:nth-child(18) { left: 94.7368%; }

.guide-20 > .guide-line:nth-child(1)  { left: 5%;  }
.guide-20 > .guide-line:nth-child(2)  { left: 10%; }
.guide-20 > .guide-line:nth-child(3)  { left: 15%; }
.guide-20 > .guide-line:nth-child(4)  { left: 20%; }
.guide-20 > .guide-line:nth-child(5)  { left: 25%; }
.guide-20 > .guide-line:nth-child(6)  { left: 30%; }
.guide-20 > .guide-line:nth-child(7)  { left: 35%; }
.guide-20 > .guide-line:nth-child(8)  { left: 40%; }
.guide-20 > .guide-line:nth-child(9)  { left: 45%; }
.guide-20 > .guide-line:nth-child(10) { left: 50%; }
.guide-20 > .guide-line:nth-child(11) { left: 55%; }
.guide-20 > .guide-line:nth-child(12) { left: 60%; }
.guide-20 > .guide-line:nth-child(13) { left: 65%; }
.guide-20 > .guide-line:nth-child(14) { left: 70%; }
.guide-20 > .guide-line:nth-child(15) { left: 75%; }
.guide-20 > .guide-line:nth-child(16) { left: 80%; }
.guide-20 > .guide-line:nth-child(17) { left: 85%; }
.guide-20 > .guide-line:nth-child(18) { left: 90%; }
.guide-20 > .guide-line:nth-child(19) { left: 95%; }

.guide-21 > .guide-line:nth-child(1)  { left: 4.7619%;  }
.guide-21 > .guide-line:nth-child(2)  { left: 9.5238%;  }
.guide-21 > .guide-line:nth-child(3)  { left: 14.2857%; }
.guide-21 > .guide-line:nth-child(4)  { left: 19.0476%; }
.guide-21 > .guide-line:nth-child(5)  { left: 23.8095%; }
.guide-21 > .guide-line:nth-child(6)  { left: 28.5714%; }
.guide-21 > .guide-line:nth-child(7)  { left: 33.3333%; }
.guide-21 > .guide-line:nth-child(8)  { left: 38.0952%; }
.guide-21 > .guide-line:nth-child(9)  { left: 42.8571%; }
.guide-21 > .guide-line:nth-child(10) { left: 47.6191%; }
.guide-21 > .guide-line:nth-child(11) { left: 52.3810%; }
.guide-21 > .guide-line:nth-child(12) { left: 57.1429%; }
.guide-21 > .guide-line:nth-child(13) { left: 61.9048%; }
.guide-21 > .guide-line:nth-child(14) { left: 66.6667%; }
.guide-21 > .guide-line:nth-child(15) { left: 71.4286%; }
.guide-21 > .guide-line:nth-child(16) { left: 76.1905%; }
.guide-21 > .guide-line:nth-child(17) { left: 80.9524%; }
.guide-21 > .guide-line:nth-child(18) { left: 85.7143%; }
.guide-21 > .guide-line:nth-child(19) { left: 90.4762%; }
.guide-21 > .guide-line:nth-child(20) { left: 95.2381%; }

.guide-22 > .guide-line:nth-child(1)  { left: 4.5454%;  }
.guide-22 > .guide-line:nth-child(2)  { left: 9.0909%;  }
.guide-22 > .guide-line:nth-child(3)  { left: 13.3636%; }
.guide-22 > .guide-line:nth-child(4)  { left: 18.1818%; }
.guide-22 > .guide-line:nth-child(5)  { left: 22.7272%; }
.guide-22 > .guide-line:nth-child(6)  { left: 27.2727%; }
.guide-22 > .guide-line:nth-child(7)  { left: 31.8181%; }
.guide-22 > .guide-line:nth-child(8)  { left: 36.3636%; }
.guide-22 > .guide-line:nth-child(9)  { left: 40.9090%; }
.guide-22 > .guide-line:nth-child(10) { left: 45.4545%; }
.guide-22 > .guide-line:nth-child(11) { left: 50%;      }
.guide-22 > .guide-line:nth-child(12) { left: 54.5454%; }
.guide-22 > .guide-line:nth-child(13) { left: 59.0909%; }
.guide-22 > .guide-line:nth-child(14) { left: 63.6363%; }
.guide-22 > .guide-line:nth-child(15) { left: 68.1818%; }
.guide-22 > .guide-line:nth-child(16) { left: 72.7272%; }
.guide-22 > .guide-line:nth-child(17) { left: 77.2727%; }
.guide-22 > .guide-line:nth-child(18) { left: 81.8181%; }
.guide-22 > .guide-line:nth-child(19) { left: 86.3636%; }
.guide-22 > .guide-line:nth-child(20) { left: 90.9090%; }
.guide-22 > .guide-line:nth-child(21) { left: 95.4545%; }

.guide-24 > .guide-line:nth-child(1)  { left: 4.1667%;  }
.guide-24 > .guide-line:nth-child(2)  { left: 8.3333%;  }
.guide-24 > .guide-line:nth-child(3)  { left: 12.5%;    }
.guide-24 > .guide-line:nth-child(4)  { left: 16.6667%; }
.guide-24 > .guide-line:nth-child(5)  { left: 20.8333%; }
.guide-24 > .guide-line:nth-child(6)  { left: 25%;      }
.guide-24 > .guide-line:nth-child(7)  { left: 29.1667%; }
.guide-24 > .guide-line:nth-child(8)  { left: 33.3333%; }
.guide-24 > .guide-line:nth-child(9)  { left: 37.5%;    }
.guide-24 > .guide-line:nth-child(10) { left: 41.6667%; }
.guide-24 > .guide-line:nth-child(11) { left: 45.8333%; }
.guide-24 > .guide-line:nth-child(12) { left: 50%;      }
.guide-24 > .guide-line:nth-child(13) { left: 54.1667%; }
.guide-24 > .guide-line:nth-child(14) { left: 58.3333%; }
.guide-24 > .guide-line:nth-child(15) { left: 62.5%;    }
.guide-24 > .guide-line:nth-child(16) { left: 66.6667%; }
.guide-24 > .guide-line:nth-child(17) { left: 70.8333%; }
.guide-24 > .guide-line:nth-child(18) { left: 75%;      }
.guide-24 > .guide-line:nth-child(19) { left: 79.1667%; }
.guide-24 > .guide-line:nth-child(20) { left: 83.3333%; }
.guide-24 > .guide-line:nth-child(21) { left: 87.5%;    }
.guide-24 > .guide-line:nth-child(22) { left: 91.6667%; }
.guide-24 > .guide-line:nth-child(23) { left: 95.8333%; }

.guide-25 > .guide-line:nth-child(1)  { left: 4%; }
.guide-25 > .guide-line:nth-child(2)  { left: 8%; }
.guide-25 > .guide-line:nth-child(3)  { left: 12%; }
.guide-25 > .guide-line:nth-child(4)  { left: 16%; }
.guide-25 > .guide-line:nth-child(5)  { left: 20%; }
.guide-25 > .guide-line:nth-child(6)  { left: 24%; }
.guide-25 > .guide-line:nth-child(7)  { left: 28%; }
.guide-25 > .guide-line:nth-child(8)  { left: 32%; }
.guide-25 > .guide-line:nth-child(9)  { left: 36%; }
.guide-25 > .guide-line:nth-child(10) { left: 40%; }
.guide-25 > .guide-line:nth-child(11) { left: 44%; }
.guide-25 > .guide-line:nth-child(12) { left: 48%; }
.guide-25 > .guide-line:nth-child(13) { left: 52%; }
.guide-25 > .guide-line:nth-child(14) { left: 56%; }
.guide-25 > .guide-line:nth-child(15) { left: 60%; }
.guide-25 > .guide-line:nth-child(16) { left: 64%; }
.guide-25 > .guide-line:nth-child(17) { left: 68%; }
.guide-25 > .guide-line:nth-child(18) { left: 72%; }
.guide-25 > .guide-line:nth-child(19) { left: 76%; }
.guide-25 > .guide-line:nth-child(20) { left: 80%; }
.guide-25 > .guide-line:nth-child(21) { left: 84%; }
.guide-25 > .guide-line:nth-child(22) { left: 88%; }
.guide-25 > .guide-line:nth-child(23) { left: 92%; }
.guide-25 > .guide-line:nth-child(24) { left: 96%; }

.guide-26 > .guide-line:nth-child(1)  { left: 3.8462%; }
.guide-26 > .guide-line:nth-child(2)  { left: 7.6923%; }
.guide-26 > .guide-line:nth-child(3)  { left: 11.5385%; }
.guide-26 > .guide-line:nth-child(4)  { left: 15.3846%; }
.guide-26 > .guide-line:nth-child(5)  { left: 19.2308%; }
.guide-26 > .guide-line:nth-child(6)  { left: 23.0769%; }
.guide-26 > .guide-line:nth-child(7)  { left: 26.9231%; }
.guide-26 > .guide-line:nth-child(8)  { left: 30.7692%; }
.guide-26 > .guide-line:nth-child(9)  { left: 34.6154%; }
.guide-26 > .guide-line:nth-child(10) { left: 38.4615%; }
.guide-26 > .guide-line:nth-child(11) { left: 42.3077%; }
.guide-26 > .guide-line:nth-child(12) { left: 46.1538%; }
.guide-26 > .guide-line:nth-child(13) { left: 50.0000%; }
.guide-26 > .guide-line:nth-child(14) { left: 53.8462%; }
.guide-26 > .guide-line:nth-child(15) { left: 57.6923%; }
.guide-26 > .guide-line:nth-child(16) { left: 61.5385%; }
.guide-26 > .guide-line:nth-child(17) { left: 65.3846%; }
.guide-26 > .guide-line:nth-child(18) { left: 69.2308%; }
.guide-26 > .guide-line:nth-child(19) { left: 73.0769%; }
.guide-26 > .guide-line:nth-child(20) { left: 76.9231%; }
.guide-26 > .guide-line:nth-child(21) { left: 80.7692%; }
.guide-26 > .guide-line:nth-child(22) { left: 84.6154%; }
.guide-26 > .guide-line:nth-child(23) { left: 88.4615%; }
.guide-26 > .guide-line:nth-child(24) { left: 92.3077%; }
.guide-26 > .guide-line:nth-child(25) { left: 96.1538%; }

.guide-27 > .guide-line:nth-child(1)  { left: 3.7037%;  }
.guide-27 > .guide-line:nth-child(2)  { left: 7.4074%;  }
.guide-27 > .guide-line:nth-child(3)  { left: 11.1111%; }
.guide-27 > .guide-line:nth-child(4)  { left: 14.8148%; }
.guide-27 > .guide-line:nth-child(5)  { left: 18.5185%; }
.guide-27 > .guide-line:nth-child(6)  { left: 22.2222%; }
.guide-27 > .guide-line:nth-child(7)  { left: 25.9259%; }
.guide-27 > .guide-line:nth-child(8)  { left: 29.6296%; }
.guide-27 > .guide-line:nth-child(9)  { left: 33.3333%; }
.guide-27 > .guide-line:nth-child(10) { left: 37.0370%; }
.guide-27 > .guide-line:nth-child(11) { left: 40.7407%; }
.guide-27 > .guide-line:nth-child(12) { left: 44.4444%; }
.guide-27 > .guide-line:nth-child(13) { left: 48.1481%; }
.guide-27 > .guide-line:nth-child(14) { left: 51.8519%; }
.guide-27 > .guide-line:nth-child(15) { left: 55.5556%; }
.guide-27 > .guide-line:nth-child(16) { left: 59.2593%; }
.guide-27 > .guide-line:nth-child(17) { left: 62.9630%; }
.guide-27 > .guide-line:nth-child(18) { left: 66.6667%; }
.guide-27 > .guide-line:nth-child(19) { left: 70.3704%; }
.guide-27 > .guide-line:nth-child(20) { left: 74.0741%; }
.guide-27 > .guide-line:nth-child(21) { left: 77.7778%; }
.guide-27 > .guide-line:nth-child(22) { left: 81.4815%; }
.guide-27 > .guide-line:nth-child(23) { left: 85.1852%; }
.guide-27 > .guide-line:nth-child(24) { left: 88.8889%; }
.guide-27 > .guide-line:nth-child(25) { left: 92.5926%; }
.guide-27 > .guide-line:nth-child(26) { left: 96.2963%; }

.guide-28 > .guide-line:nth-child(1)  { left: 3.5714%; }
.guide-28 > .guide-line:nth-child(2)  { left: 7.1429%; }
.guide-28 > .guide-line:nth-child(3)  { left: 10.7143%; }
.guide-28 > .guide-line:nth-child(4)  { left: 14.2857%; }
.guide-28 > .guide-line:nth-child(5)  { left: 17.8571%; }
.guide-28 > .guide-line:nth-child(6)  { left: 21.4286%; }
.guide-28 > .guide-line:nth-child(7)  { left: 25.0000%; }
.guide-28 > .guide-line:nth-child(8)  { left: 28.5714%; }
.guide-28 > .guide-line:nth-child(9)  { left: 32.1429%; }
.guide-28 > .guide-line:nth-child(10) { left: 35.7143%; }
.guide-28 > .guide-line:nth-child(11) { left: 39.2857%; }
.guide-28 > .guide-line:nth-child(12) { left: 42.8571%; }
.guide-28 > .guide-line:nth-child(13) { left: 46.4286%; }
.guide-28 > .guide-line:nth-child(14) { left: 50.0000%; }
.guide-28 > .guide-line:nth-child(15) { left: 53.5714%; }
.guide-28 > .guide-line:nth-child(16) { left: 57.1429%; }
.guide-28 > .guide-line:nth-child(17) { left: 60.7143%; }
.guide-28 > .guide-line:nth-child(18) { left: 64.2857%; }
.guide-28 > .guide-line:nth-child(19) { left: 67.8571%; }
.guide-28 > .guide-line:nth-child(20) { left: 71.4286%; }
.guide-28 > .guide-line:nth-child(21) { left: 75.0000%; }
.guide-28 > .guide-line:nth-child(22) { left: 78.5714%; }
.guide-28 > .guide-line:nth-child(23) { left: 82.1429%; }
.guide-28 > .guide-line:nth-child(24) { left: 85.7143%; }
.guide-28 > .guide-line:nth-child(25) { left: 89.2857%; }
.guide-28 > .guide-line:nth-child(26) { left: 92.8571%; }
.guide-28 > .guide-line:nth-child(27) { left: 96.4286%; }

.guide-30 > .guide-line:nth-child(1)  { left: 3.3333%; }
.guide-30 > .guide-line:nth-child(2)  { left: 6.6667%; }
.guide-30 > .guide-line:nth-child(3)  { left: 10.0000%; }
.guide-30 > .guide-line:nth-child(4)  { left: 13.3333%; }
.guide-30 > .guide-line:nth-child(5)  { left: 16.6667%; }
.guide-30 > .guide-line:nth-child(6)  { left: 20.0000%; }
.guide-30 > .guide-line:nth-child(7)  { left: 23.3333%; }
.guide-30 > .guide-line:nth-child(8)  { left: 26.6667%; }
.guide-30 > .guide-line:nth-child(9)  { left: 30.0000%; }
.guide-30 > .guide-line:nth-child(10) { left: 33.3333%; }
.guide-30 > .guide-line:nth-child(11) { left: 36.6667%; }
.guide-30 > .guide-line:nth-child(12) { left: 40.0000%; }
.guide-30 > .guide-line:nth-child(13) { left: 43.3333%; }
.guide-30 > .guide-line:nth-child(14) { left: 46.6667%; }
.guide-30 > .guide-line:nth-child(15) { left: 50.0000%; }
.guide-30 > .guide-line:nth-child(16) { left: 53.3333%; }
.guide-30 > .guide-line:nth-child(17) { left: 56.6667%; }
.guide-30 > .guide-line:nth-child(18) { left: 60.0000%; }
.guide-30 > .guide-line:nth-child(19) { left: 63.3333%; }
.guide-30 > .guide-line:nth-child(20) { left: 66.6667%; }
.guide-30 > .guide-line:nth-child(21) { left: 70.0000%; }
.guide-30 > .guide-line:nth-child(22) { left: 73.3333%; }
.guide-30 > .guide-line:nth-child(23) { left: 76.6667%; }
.guide-30 > .guide-line:nth-child(24) { left: 80.0000%; }
.guide-30 > .guide-line:nth-child(25) { left: 83.3333%; }
.guide-30 > .guide-line:nth-child(26) { left: 86.6667%; }
.guide-30 > .guide-line:nth-child(27) { left: 90.0000%; }
.guide-30 > .guide-line:nth-child(28) { left: 93.3333%; }
.guide-30 > .guide-line:nth-child(29) { left: 96.6667%; }
